*.
*.gcda
*.gcno
*.la
*.lo
*.loT
*.mem
*.mk
*.o
*.slo
*.tgz
*~
.#*
.deps
.idea
.libs
/include
acinclude.m4
aclocal.m4
autom4te.cache
build
clean
composer.lock
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install
install-sh
libs
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
test
vendor
~.tgz
